{% extends "adminportol/base.html" %}
{% block container %}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <!-- Navbar -->
{% include "adminportol/navbar.html" %}
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
{% include "adminportol/sidebar.html" %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><a href="{% url 'custadmin:product_create' %}">Add Category</a></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Cateory</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="content">
      <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Cateory</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Slug</th>
                  <th>parent</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for cateory in cateories %}
                <tr>

                  <td>{{cateory.name}}</td>
                  <td>{{cateory.slug}}</td>
                  <td>{{cateory.parent}}</td>
                  <td><a href="{% url 'custadmin:category_update' cateory.slug %}">Edit</a> </td>
                    <form method="post" action="{% url 'custadmin:category_delete' cateory.slug %}">
                        {% csrf_token %}
                  <td> <input type="submit" value="Delete"></td>
                    </form>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>parent</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  {% endblock %}