{% extends "adminportol/base.html" %}
{% block container %}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <!-- Navbar -->
{% include "adminportol/navbar.html" %}
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
{% include "adminportol/sidebar.html" %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><a href="{% url 'custadmin:product_create' %}">Add Product</a></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Product</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped display">
                <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Available</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Edit</th>

                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products%}
                <tr>
                  <td><img src="{{product.images.all.first}}" width="50px" height="50px"></td>
                  <td>{{product.name}}</td>
                  <td>RS.{{product.price}}</td>
                  {% if product.status == 1%}
                  <td>True</td>
                  {% else %}
                  <td>False</td>
                  {% endif %}
                  <td>{{product.category}}</td>
                  <td>{{product.brand}}</td>
                  <td><a href="{% url 'custadmin:product_update' product.slug %}"><i class="btn fa fa-edit  btn-outline-info">Edit</i></a></td>
                  <td><form method="post" action="{% url 'custadmin:product_delete' product.slug %}">
                    {% csrf_token %}
               <input type="submit" class="btn btn-outline-danger" Value="Delete">
                </form></td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>

                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Available</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  {% endblock %}
{% block js %}
<script>
  $(document).ready(function() {
    $('table.display').( {
    responsive: true
} );
</script>
{% endblock js %}