{% extends "userportal/base.html" %}
{% block container %}
 {% load static %} 
 {% load mathfilters %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Order Has been placed</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'user:dashboard' %}">Home<span class="lnr lnr-arrow-right">OrderDetais</span></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			{% if  orders %}			
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<tr>
					<td>Order ID</td>
					<td>Address</td>
					<td>City</td>
					<td>State</td>
					<td>Country</td>
					<td>Zipcode</td>
					<td>Price</td>
					<td>Details</td>
				</tr>
				{% for order in orders %}
				<tr>
					<td>{{order.id}}</td>
					<td>{{order.address}}</td>
					<td>{{order.address.city}}</td>
					<td>{{order.address.state}}</td>
					<td>{{order.address.country}}</td>
					<td>{{order.address.zipcode}}</td>
					<td>RS.{{order.total_amount}}</td>
					<td><a href="{% url 'order:order_details' pk=order.id %}">Details</a></td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
				<h1>No order to be placed</h1>
			{% endif %}

	</section>
	<!--================End Order Details Area =================-->
{% endblock %}
{% block javascript %}
$(document).ready(function() {
    $('#example').DataTable();
} );
{% endblock javascript %}


