{% load static %}
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Electro &#8211; Electronics Ecommerce Theme</title>

        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/bootstrap.min.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/font-awesome.min.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/animate.min.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/font-electro.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/owl-carousel.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/style.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'userportol/css/colors/yellow.css' %}" media="all" />

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,700italic,800,800italic,600italic,400italic,300italic' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="assets/images/fav-icon.png">
{% block css %}

{% endblock css %}
    </head>
  
{% block container %}

{% endblock container %}                
{% block footer %}

{% endblock footer %}
<script type="text/javascript" src="{% static 'userportol/js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/tether.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/bootstrap-hover-dropdown.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/owl.carousel.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/echo.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/wow.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/jquery.easing.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/jquery.waypoints.min.js'%}"></script>
<script type="text/javascript" src="{% static 'userportol/js/electro.js'%}"></script>
{% block script %}

{% endblock script %}
</body>
</html>
