{% include "userportol/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block container %}
 <body class="page home page-template-default">
        <div id="page" class="hfeed site">
            {% include "userportol/heder.html" %}
            {% include "userportol/navbar.html" %}

            <div id="content" class="site-content" tabindex="-1">
                <div class="container">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="home-v3-slider" >
                            	<!-- ========================================== SECTION – HERO : END========================================= -->

                            	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                            		<div class="item" style="background-image: url(assets/images/slider/banner-3.jpg);">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-8">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-subtitle-v2 fadeInDown-1">
                            								shop to get what you loves
                            							</div>

                            							<div class="hero-2 fadeInDown-2">
                            								Timepieces that make a statement up to <strong>40% Off</strong>
                             							</div>

                            							<div class="hero-action-btn fadeInDown-3">
                            								<a href="single-product.html" class="big le-button ">Start Buying</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div><!-- /.col -->
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->

                            		<div class="item" style="background-image: url(assets/images/slider/banner-1.jpg);">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-8">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-subtitle-v2 fadeInDown-1">
                            								shop to get what you loves
                            							</div>

                            							<div class="hero-2 fadeInDown-2">
                            								Timepieces that make a statement up to <strong>40% Off</strong>
                             							</div>

                            							<div class="hero-action-btn fadeInDown-3">
                            								<a href="single-product.html" class="big le-button ">Start Buying</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div>
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->

                            		<div class="item" style="background-image: url(assets/images/slider/banner-2.jpg);">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-8">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-subtitle-v2 fadeInDown-1">
                            								shop to get what you loves
                            							</div>

                            							<div class="hero-2 fadeInDown-2">
                            								Timepieces that make a statement up to <strong>40% Off</strong>
                             							</div>

                            							<div class="hero-action-btn fadeInDown-3">
                            								<a href="single-product.html" class="big le-button ">Start Buying</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div>
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->


                            	</div><!-- /.owl-carousel -->

                            <!-- ========================================= SECTION – HERO : END ========================================= -->
                            </div><!-- /.home-v1-slider -->

                            <div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
                            	<div class="features-list columns-5">
                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-transport"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Free Delivery</strong> from $50
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-customers"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>99% Positive</strong> Feedbacks
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-returning"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>365 days</strong> for free return
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-payment"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Payment</strong> Secure System
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-tag"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Only Best</strong> Brands
                            				</div>
                            			</div>
                            		</div><!-- .feature -->
                            	</div><!-- .features-list -->
                            </div><!-- .home-v3-features-block -->


                            <section class="products-carousel-tabs animate-in-view fadeIn animated" data-animation="fadeIn">
                            	<div class="tab-content">
                            		<div class="tab-pane active" id="tab-products-1" role="tabpanel">
                            			<section class="section-products-carousel" >
                            				<div class="home-v3-owl-carousel-tabs">
                            					<div class="woocommerce columns-4">

                                                    <div class="products owl-carousel home-v3-carousel-tabs products-carousel columns-4">
{% for product in first %}
                                                            <div class="product ">
                                                            <div class="product-outer">
                                                                <div class="product-inner">
                                                                    <span class="loop-product-categories"><a  rel="tag">Smartphones</a></span>
                                                                    <a href="single-product.html">
                                                                        <h3>{{product.name}}</h3>
                                                                        <div class="product-thumbnail">
                                                                            <img src="{{product.images.all.first}}"  class="img-responsive" alt="">
                                                                        </div>
                                                                    </a>

                                                                    <div class="price-add-to-cart">
                                                                        <span class="price">
                                                                            <span class="electro-price">
                                                                                <ins><span class="amount"> </span></ins>
                                                                                <span class="amount"> RS.{{product.price}}</span>
                                                                            </span>
                                                                        </span>
                                                                        <a rel="nofollow" id="addtocart" href="" class="button add_to_cart_button" data-productid="{{product.id}}">Add to cart</a>
                                                                    </div><!-- /.price-add-to-cart -->

                                                                    <div class="hover-area">
                                                                        <div class="action-buttons">

                                                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                            <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- /.product-inner -->
                                                            </div><!-- /.product-outer -->
                                                        </div><!-- /.product -->
{% endfor %}
                                                    </div><!-- /.products -->
                            					</div>
                            				</div>
                            			</section>
                            		</div><!-- /.tab-pane -->



                                               	</div><!-- /.tab-content -->
                            </section><!-- /.products-carousel-tabs -->

                        </main><!-- #main -->
                    </div>
                    </div><!-- #primary -->
                </div><!-- .container -->

        {% include "userportol/footer.html" %}
            </div><!-- #content -->
        {% endblock container %}

