{% include "userportol/base.html" %}
{% block css %}
<style>
.hover {
    z-index: 2;
    position: absolute;
    right: 50;
    bottom: 135;
    left: 115;
  }
</style>
{% endblock css %}
{% load crispy_forms_tags %}
{% load static %}
{% block container %}
<body class="page home page-template-default">
    <div id="page" class="hfeed site">
{% include "userportol/heder.html" %}
{% include "userportol/navbar.html" %}
<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <nav class="woocommerce-breadcrumb" ><a href="home.html">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>My Account</nav><!-- .woocommerce-breadcrumb -->
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <article id="post-8" class="hentry">
                    <div class="entry-content">
                        <div class="woocommerce">
                            <div class="customer-login-form">
                                <span class="or-text">or</span>
                                <div class="col2-set" id="customer_login">
                                    <div class="col-1">
                                        <h2>Login</h2>
                                        <form method="post" class="login">
                                            <p class="before-login-text">Welcome back! Sign in to your account</p>
                                            <p class="form-row form-row-wide">
                                                {% csrf_token %}
                                                {{form|crispy }}
                                            </p>
                                            <p class="form-row">
                                                <input class="button" type="submit" value="Login" name="login">

                                            </p>

                                            <p class="lost_password"><a href="login-and-register.html">Lost your password?</a></p>

                                        </form>
                                    </div><!-- .col-1 -->
                                    <div class="col-2">
                           
                           
                                        <img class="img-fluid" src="{% static 'userportol/images/login.jpg' %}" alt="">
                                            <div class="hover">
                                                <h4>New to our website?</h4>
                                                <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                                                <a class="primary-btn" href="">Create A Account</a>
                                            </div>
                                    </div><!-- .col-2 -->
                                </div><!-- .col2-set -->
                            </div><!-- /.customer-login-form -->
                        </div><!-- .woocommerce -->
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .col-full -->
</div><!-- #content -->

{% include "userportol/footer.html" %}
{% endblock container %}     

